.col-sm-sp {
    position: relative;
}

/* div#preg {
    color:#180fa0;
    font-size: 0.875rem;
    height: 10px;
    /* padding-top: 15px; */
/* } */

div#preg {
    color:#2780e3;
    font-style: italic;
    height: 15px;
    padding-top: 10px;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

#steroid-table th {
    font-weight: normal;
}

#lab-table th {
    font-weight: 500;
}

.submit-button {
    margin-bottom: 1rem;
}

.discrepancy {
    color: rgba(255, 0, 0, 0.623);
}

.discrepancy p {
    color: rgba(255, 0, 0, 0.623);
    margin-bottom: 0;
}

.complete p {
    color: rgb(24, 199, 24);
}

/* Need to add to media */
.value-width {
    width: 125px;
}

.lab-units-table {
    width: 200px;
}

.unit-other {
    width: 60px;
}

.lab-value {
    width: 45px;
}


@media (min-width: 100px) {
    .col-sm-sp {
        position: relative;
        padding-left: 15px;
    }
    div#preg p {
        position: relative;
        font-size: 0.65rem;
    }
} 

@media (min-width: 576px) {
    .col-sm-sp {
        position: relative;
        padding-left: 15px;
        max-width: 5%;
    }

    .lab-units-table {
        width: 100px;
    }
    
    .unit-other {
        width: 40px;
    }
    
} 

@media (min-width: 765px) {
    div#preg p {
        position: relative;
        margin-top: 0px;
        max-width: 100%;
        font-size: 0.825rem;
    }

    .value-width {
        width: 125px;
    }

    .lab-units-table {
        width: 180px;
    }
    
    .unit-other {
        width: 50px;
    }
    
    .lab-value {
        width: 45px;
    }
    
} 

@media (min-width: 1200px) {
    .col-sm-sp {
        position: relative;
        padding-left: 15px;
        margin-left: 0;
    }

    .value-width {
        width: 125px;
    }

    .lab-units-table {
        width: 200px;
    }
    
    .unit-other {
        width: 60px;
    }
    
    .lab-value {
        width: 45px;
    }
} 
